* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1c1c1c;
  }
  
  a {
    text-decoration: none;
    color: red;
  }

.content {
    margin-left: 250px; 
    padding: 60px;
    width: calc(100% - 250px);
    margin-top: 60px;
  }