h1{
    padding-top: 100px;
}
.container {
    padding-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card p {
    color: #666;
    margin: 10px 0 0;
    font-size: 14px;
}